.p12{
  padding:12px;
}
.p15{
  padding:15px;
}
.p20{
  padding:20px;
}
.pt12{
  padding-top:12px;
}
.pt15{
  padding-top:15px;
}
.pt30{
  padding-top:30px;
}
.mb12{
  margin-bottom:12px;
}
.mt12{
  margin-top:12px;
}
.mt15{
  margin-top:15px;
}
.mt30{
  margin-top:30px;
}
.mb20{
  margin-bottom:20px;
}
.mb30{
  margin-bottom:30px;
}
.mt50{
  margin-top:50px;
}
.mb50{
  margin-bottom:50px;
}
.flex-box{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-hd, .flex-bd, .flex-ft {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-bd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.pull-right{
  float:right;
}
.text-center{
  text-align: center;
}
.text-danger{
  color: #fa5555;
}
.text-grey{
  color: #a9a9a9;
}


.block{
  display:block !important;
}
a{
  cursor:pointer;
}
a:visited, a:link{
  color:inherit;
}
a.btn{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #d8dce5;
  color: #5a5e66;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
}
a.primary{
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
a.primary:hover{
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}

a.danger{
  color: #fff;
  background-color: #fa5555;
  border-color: #fa5555;
}
a.danger:hover{
  background: #fb7777;
  border-color: #fb7777;
  color: #fff;
}
a.theme{
  background-color:#0cc7a8;
  border-color:#0cc7a8;
  color: #fff;
}
a.theme.plain{
  color:#0cc7a8;
  background-color:white;
}
a.plain.theme:hover{
  background: #0cc7a8;
  color: #fff;
}
a.round{
  border-radius: 20px;
}
a.plain{

}
a.plain.primary:hover{
  background: #409EFF;
  border-color: #409EFF;
  color: #fff;
}
a.small{
  font-size: 12px;
  padding: 9px 15px;
}
a.mini{
  font-size: 11px;
  padding: 6px 10px;
}

.bottom-btn{
  display:block;
  border:none !important;
  width:100%;
  border-radius:0 !important;
  padding:18px!important;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #0cc7a8;
  background: #0cc7a8;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #0cc7a8;
}

.el-radio__inner:hover, .el-radio__inner:focus {
  border-color:#0cc7a8;
}
img{
  /*width: 100%;*/
  /*height: 100%;*/
}
body{
  background-color:#f6f6f6
}
.c3{
  display:inline-block;
  width:32.5%;
}
.c4{
  display: inline-block;
  width: 23.9%;
}
.c5{
  display: inline-block;
  width: 20%;
}
input[type=file] {
  display: none;
}


/*navbar*/
.bt_nav{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index:99;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
  text-align: center;
}
.bt_nav .c3.active .tt{
  color: #0cc7a8;
}
.bt_nav .c3{

  text-align: center;
  vertical-align: bottom;
}
.bt_nav img{
  width: 36px;
}
.bt_nav .tt{
  color:grey;
  font-size:12px;
  letter-spacing: 1px;
}
.bt_nav.tab a{
  text-align: center;
  padding:12px;
}
.bt_nav.tab a .tt{
  font-size:16px;
}


/*element-ui overwrite*/
.el-carousel__item div {
  max-height: 100%;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  /*align-items: center;*/
}
.el-carousel__item div img {
  min-width: 100%;
  margin: 0;
  object-fit: cover;
}

/*theme*/
.bg-theme{
  background: #23d3b6; /* Old browsers */
  background: -moz-linear-gradient(left, #23d3b6 0%, #09ae93 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #23d3b6 0%,#09ae93 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #23d3b6 0%,#09ae93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23d3b6', endColorstr='#09ae93',GradientType=1 ); /* IE6-9 */
}
.tx-thm, .th-thm-hv:hover, .bt_nav.tab a.active .tt{
  color:#23b29a
}
.el-input__inner{
  height: 43px !important;
  line-height: 32px;
}
.el-input__inner:hover{
  border-color:#0cc7a8;
}
.bt_nav.tab a.active{
  border-bottom: 3px solid #0cc7a8;
}
.el-upload--picture-card:hover, .el-upload:focus {
  border-color: #0cc7a8;
  color: #0cc7a8;
}

/*other*/
.flex-bd .sch {
  margin-right:10px;
}
.cover{
  position:fixed;
  z-index:98;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background:rgba(0, 0, 0, 0.4);
  -webkit-animation: show 0.4s ease;
  animation: show 0.4s ease;
}
@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.popup.mid{
  top: 210px;
  left: 40%;
  margin-left: -116px;
  position: fixed;
  background: white;
  padding: 30px 15px;
  z-index: 99;
  width: 308px;
  -webkit-box-shadow: 0 2px 18px rgba(162, 162, 162, 0.4);
  box-shadow: 0 2px 37px rgba(73, 144, 132, 0.3);
  -webkit-animation: midMoveUp 0.4s ease;
  animation: midMoveUp 0.4s ease;
}
@keyframes midMoveUp {
  from {
    top: 230px;
    opacity: 0;
  }

  to {
    top: 210px;
    opacity: 1;
  }
}
.popup.replyMsg{
  -webkit-animation: moveUp 0.4s ease;
  animation: moveUp 0.4s ease;
}

@keyframes moveUp {
  from {
    bottom:-50px;
    opacity: 0;
  }

  to {
    bottom:0;
    opacity: 1;
  }
}
.cart-pl{
  border-bottom:1px solid rgba(128, 128, 128, 0.07);
}
.cart-pl .flex-box{
  background-color:white;
  padding: 15px 12px;
  height: 100px;
}
.cart-pl .tt{
  font-size: 16px;
  margin-bottom:8px;
  line-height:19px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.cart-pl .ss{
  color:grey;
  margin-bottom:0;
}
.cart-pl .flex-hd .Img{
  /*width: 86px;*/
}
.cart-pl .flex-hd{
  margin-right:10px;
}
.cart-pl .flex-ft{
  margin-left:10px;
  vertical-align: middle;
}
.Img{
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 100%;
}

.Img img{
  width:100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tt-pl{
  color: grey;
  font-size: 16px;
  padding: 0 10px;
  border-left:2px solid  #0cc7a8;
  margin: 12px 12px 0;
}
.inform-l .el-input__inner{
  border:none;
  line-height: 40px
}
.inform-l .el-textarea__inner{
  border:none;
  padding:0;
  line-height: 26px;
}
.upload-pl .el-upload--picture-card{
  /*width:90px;*/
  /*height:90px;*/
  /*line-height: 95px;*/
  width: 24vw;
  height: 24vw;
  line-height: 27vw;
}
.scan-pl .el-input__inner{
  padding:6px 12px 6px 31px;
  font-size:16px;
  border-radius:25px;
  background-color: white;
}

.apply .el-input__inner {
  padding: 23px 12px 18px 56px;
  line-height: 36px;
  font-size: 16px;
  /* border-radius: 25px; */
  /* border-bottom: 1px solid #5dd7b9; */
  background-color: white;
}



.bg-banner{
  position: relative;
  color:rgba(255, 255, 255, 0.8);
  font-size: 27px;
  padding: 70px 30px 50px;
  letter-spacing: 4px;
}
.bg-banner img{
  width: 50px;
  margin: -10px 10px 0 0;
  opacity: .6;
}
.apply{
  /* border: 1px solid #0ccfb0; */
  background: white;
  padding: 35px 24px;
  /* margin: 12px; */
}
.apply .sch{
  position: relative;
  margin-bottom: 15px;
}
.apply .sch img{
  width: 23px;
  z-index: 11;
  position: absolute;
  top: 11px;
  left: 21px;
}
.arrow-up {
  position: absolute;
  bottom: 0;
  left: 48px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 12px solid white;

}


.m-me .el-collapse-item__header {
  padding: 0 15px;
  font-size: 18px;
}
.el-collapse-item.is-active .el-collapse-item__header{
  background: #0cc7a8;
  color: white;
}

/*moment*/
.moment{
  background:white;
  padding:1px 0;
}
.moment .bigdate{
  font-size:18px;
  margin-left:12px;
  padding:20px 0 0px
}
.moment .content{
  margin:0 6px 10px;
  padding-left: 6px;
  /*border-left: 1px solid #e5e5e5;*/
}
.moment .msg{
  font-size:15px;
  margin:8px 0;
  padding-left: 6px;
}
.moment .Img{
  display:inline-block;
  width: 24vw;
  height: 24vw;
  margin:5px;
  overflow: inherit;
}
.moment img{

}
.moment .btns{
  padding:0 12px 12px;
  font-size: 16px;
}
.moment .btns img{
  width:18px;
  vertical-align: text-top;
  margin-right: 3px;
}
.moment .btns a{
  padding: 12px 6px;
  color: #828282;
}
.moment .btns a.lk:hover, .moment .btns a.lk:focus{
  color:#fa5555;
}
.moment .btns a.re:hover, .moment .btns a.re:focus{
  color: #0cc7a8;
}
.moment .btns a.de:hover, .moment .btns a.de:focus{
  color: black;
}
.moment .btns a span{
  color:#fa5555;
}
.comment {
  margin:0 12px 12px;
  padding:12px;
  background:#f6f6f6;
}
.comment .user{
  font-size:14px;
}
.reply{
  padding:3px 0;
  line-height: 20px;
  display:inline;
}
.reply:hover, .reply:focus{
  color: grey;
}
.moment .comment a.del{
  margin-left: 10px;
  color: grey;
}
.moment .comment a.del:hover{
  color:#fa5555
}
.moment .comment span.stat{
  color:#0cc7a8;
  margin-left: 10px;
}
.moment .comment a.stat{
  color: grey;
  text-decoration: underline;
  margin-left: 10px;
}
.moment .comment a.stat:hover{
  color: black;
  text-decoration: none;
}
/*intro-top*/
.intro-top{
  color:white;
  font-size:15px;
  padding: 20px 12px 15px;
}
.intro-top img{
  width: 90px;
  margin-top: 8px;
}
.intro-top .flex-bd{
  font-size:18px;
  line-height: 30px;
}
.intro-top .product-tt{
  font-size:20px;
  margin-left:12px;
  line-height:35px;
}
.intro-top .flex-bd span{
  color:rgba(255, 255, 255, 0.84);
  margin-left:12px;
  font-size:13px;
}
.intro-top .time{
  font-weight: bold;
  margin:0 4px !important;
}
.noti_bubble {
  line-height: 18px;
  position: absolute;
  top: -2px;
  right: -4px;
  padding:1px 6.6px 1px 6.6px;
  background-color: rgba(249, 79, 79, 0.9);
  color: white;
  border-radius: 18px;
  font-size:12px;
}
