.p12{
  padding:12px;
}
.p15{
  padding:15px;
}
.p20{
  padding:20px;
}
.pt12{
  padding-top:12px;
}
.pt15{
  padding-top:15px;
}
.pt30{
  padding-top:30px;
}
.mb12{
  margin-bottom:12px;
}
.mt12{
  margin-top:12px;
}
.mt15{
  margin-top:15px;
}
.mt30{
  margin-top:30px;
}
.mb20{
  margin-bottom:20px;
}
.mb30{
  margin-bottom:30px;
}
.mt50{
  margin-top:50px;
}
.mb50{
  margin-bottom:50px;
}
.flex-box{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-hd, .flex-bd, .flex-ft {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-bd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.pull-right{
  float:right;
}
.text-center{
  text-align: center;
}
.text-danger{
  color: #fa5555;
}
.text-grey{
  color: #a9a9a9;
}
.el-input__inner{
  height: 36px !important;
}
.el-input__inner:hover{
  border-color:#0ccfb0;
}

.block{
  display:block !important;
}
a{
  cursor:pointer;
}
a:visited, a:link{
  color:inherit;
}
a.btn{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #d8dce5;
  color: #5a5e66;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
a.primary{
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
a.primary:hover{
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}

a.danger{
  color: #fff;
  background-color: #fa5555;
  border-color: #fa5555;
}
a.danger:hover{
  background: #fb7777;
  border-color: #fb7777;
  color: #fff;
}
a.theme{
  background-color:#0ccfb0;
  border-color:#0ccfb0;
  color: #fff;
}
a.round{
  border-radius: 20px;
}
a.plain{

}
a.plain:hover{
  background: #409EFF;
  border-color: #409EFF;
  color: #fff;
}
a.small{
  font-size: 12px;
  padding: 9px 15px;
}
a.mini{
  font-size: 11px;
  padding: 6px 10px;
}

.bottom-btn{
  display:block;
  border:none !important;
  width:100%;
  border-radius:0 !important;
  padding:18px!important;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #0ccfb0;
  background: #0ccfb0;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #0ccfb0;
}

.el-radio__inner:hover, .el-radio__inner:focus {
  border-color:#0ccfb0;
}
img{
  /*width: 100%;*/
  /*height: 100%;*/
}
body{
  background-color:#f6f6f6
}
.c3{
  display:inline-block;
  width:32.5%;
}
.c4{
  display: inline-block;
  width: 24%;
}
.c5{
  display: inline-block;
  width: 20%;
}
input[type=file] {
  display: none;
}


/*navbar*/
.bt_nav{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index:99;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
}
.bt_nav .c3.active .tt{
  color: #0ccfb0;
}
.bt_nav .c3{

  text-align: center;
  vertical-align: bottom;
}
.bt_nav img{
  width: 36px;
}
.bt_nav .tt{
  color:grey;
  font-size:12px;
  letter-spacing: 1px;
}
.bt_nav.tab a{
  text-align: center;
  padding:12px;
}
.bt_nav.tab a .tt{
  font-size:14px;
}
.bt_nav.tab a.active{
  border-bottom: 3px solid #0ccfb0;
}
.bt_nav.tab a.active .tt{
  color: #0ccfb0;
}


/*element-ui overwrite*/
.el-carousel__item div {
  max-height: 100%;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  /*align-items: center;*/
}
.el-carousel__item div img {
  min-width: 100%;
  margin: 0;
  object-fit: cover;
}

/*theme*/
.bg-theme{
  background: #66dcc0; /* Old browsers */
  background: -moz-linear-gradient(left, #66dcc0 1%, #2fcba4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #66dcc0 1%,#2fcba4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #66dcc0 1%,#2fcba4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66dcc0', endColorstr='#2fcba4',GradientType=1 ); /* IE6-9 */
}
/*other*/
.cart-pl{
  border-bottom:1px solid rgba(128, 128, 128, 0.07);
}
.cart-pl .flex-box{
  background-color:white;
  padding: 15px 12px;
  height: 100px;
}
.cart-pl .tt{
  font-size:15px;
  margin-bottom:8px;
  line-height:19px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.cart-pl .ss{
  font-size:12px;
  color:grey;
  margin-bottom:0;
}
.cart-pl .flex-hd .Img{
  /*width: 86px;*/
}
.cart-pl .flex-hd{
  margin-right:10px;
}
.cart-pl .flex-ft{
  margin-left:10px;
  vertical-align: middle;
}
.Img{
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 100%;
}

.Img img{
  width:100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tt-pl{
  color: grey;
  font-size: 16px;
  padding: 0 10px;
  border-left:2px solid rgba(120, 221, 197, 0.74);
  margin: 12px 12px 0;
}
.inform-l .el-input__inner{
  border:none;
  line-height:34px
}
.inform-l .el-textarea__inner{
  border:none;
  padding:0;
  line-height: 26px;
}
.upload-pl .el-upload--picture-card{
  width:90px;
  height:90px;
  line-height: 95px;
}
.scan-pl .el-input__inner{
  padding:6px 12px 6px 31px;
  line-height:25px;
  font-size:16px;
  border-radius:25px;
  border: 1px solid white;
  background-color: white;
}
.scan-pl .el-input__inner:hover{
  border-color:#0ccfb0;
}

.apply .el-input__inner {
  padding: 23px 12px 18px 56px;
  line-height: 36px;
  font-size: 16px;
  /* border-radius: 25px; */
  /* border-bottom: 1px solid #5dd7b9; */
  background-color: white;
}



.bg-banner{
  position: relative;
  color: #e3fff8;
  font-size: 27px;
  padding: 70px 30px 50px;
  letter-spacing: 4px;
}
.bg-banner img{
  width: 50px;
  margin-right: 10px;
  opacity: .6;
}
.apply{
  /* border: 1px solid #0ccfb0; */
  background: white;
  padding: 35px 24px;
  /* margin: 12px; */
}
.apply .sch{
  position: relative;
  margin-bottom: 15px;
}
.apply .sch img{
  width: 23px;
  z-index: 11;
  position: absolute;
  top: 11px;
  left: 21px;
}
.arrow-up {
  position: absolute;
  bottom: 0;
  left: 48px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 12px solid white;

}
@keyframes moveUp {
  from {
    top: 300px;
    opacity: 0;
  }

  to {
    top: 280px;
    opacity: 1;
  }
}

.m-me .el-input__inner {
  height: 40px !important;
}
.m-me .sch{
  margin-right:10px;
}
.m-me .el-collapse-item__header {
  padding: 0 15px;
}
.el-collapse-item.is-active .el-collapse-item__header{
  background:#f6f6f6;
}

/*moment*/
.moment{
  background:white;
  padding:1px 0;
}
.moment .date{
  font-size:18px;
  margin-left:12px;
  padding:12px 0 5px;
}
.moment .content{
  margin:0 12px 12px;
  padding-left: 6px;
  border-left: 1px solid #e5e5e5;
}
.moment .msg{
  font-size:15px;
  margin-bottom:8px;
  padding-left: 6px;
}
.moment .Img{
  display:inline-block;
  width: 24vw;
  height: 24vw;
  margin:5px;
  overflow: inherit;
}
.moment img{

}
.moment .btns{
  padding:0 12px 12px;
}
.moment .btns img{
  width: 16px;
  vertical-align: text-top;
  margin-right: 3px;
}
.moment .btns a{
  padding: 12px 6px;
  color: #828282;
}
.moment .btns a.lk:hover, .moment .btns a.lk:focus{
  color:#fa5555;
}
.moment .btns a.re:hover, .moment .btns a.re:focus{
  color: #0ccfb0;
}
.moment .btns a.de:hover, .moment .btns a.de:focus{
  color: black;
}
.moment .btns a span{
  color:#fa5555;
}
.comment {
  margin:0 12px 12px;
  padding:12px;
  background:#f6f6f6;
}
.comment .user{
  color:#0ccfb0;
  font-size:14px;
}
.reply{
  line-height: 20px;
  margin-bottom: 3px;
}

/*intro-top*/
.intro-top{
  color:white;
  font-size:15px;
}
.intro-top img{
  width:100px;
  margin-top:8px
}

.intro-top .flex-bd span{
  color:rgba(255, 255, 255, 0.84);
  margin-left:12px;
  font-size:13px;
}
.intro-top .time{
  font-weight: bold;
  margin:0 4px !important;
}
